DATABASE_URL="sqlserver://localhost:1433;database=stock_tracker;user=sa;password=lSBqDnzqWOkxE8N;encrypt=true;trustServerCertificate=true"
DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=lSBqDnzqWOkxE8N
DB_NAME=stock_tracker
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
ALPHA_VANTAGE_API_KEY=
ALPHA_VANTAGE_ENTITLEMENT=
TWELVE_DATA_API_KEY=
FMP_API_KEY=
